n8n/workflow.json
{
  "name": "Paper Index v2 — Phase 1/2 + Layer 2 Batch Loop",
  "nodes": [
    {
      "parameters": { "rule": { "interval": [ { "field": "minutes", "minutesInterval": 30 } ] } },
      "id": "cron_ingest",
      "name": "30분마다: Ingest 트리거",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.INGEST_BASE_URL || 'http://localhost:8787'}}/ingest/run-phase",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "x-api-key", "value": "={{$env.INGEST_API_KEY}}" },
          { "name": "Content-Type", "value": "application/json" }
        ]},
        "sendBody": true,
        "bodyContentType": "json",
        "jsonParameters": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"maxBudgetMs\": 90000,\n  \"maxIterations\": 16\n}",
        "options": { "timeout": 120000 }
      },
      "id": "call_ingest",
      "name": "POST /ingest/run-phase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [520, 200]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json ?? {};\nconst summary = {\n  ts: new Date().toISOString(),\n  phase: body.phase,\n  staged: body.staged ?? body.staged_this_call ?? 0,\n  fetched: body.fetched ?? null,\n  collected_today: body.collected_today ?? null,\n  total_collected: body.total_collected ?? null,\n  terminator: body.terminator ?? null,\n  completed: body.completed ?? null,\n  duplicated_db: body.duplicated_db ?? null,\n  iterations: body.iterations ?? null\n};\nconsole.log('[ingest]', JSON.stringify(summary));\nreturn [{ json: summary }];"
      },
      "id": "ingest_log",
      "name": "Ingest 결과 로깅",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [780, 200]
    },

    {
      "parameters": { "rule": { "interval": [ { "field": "minutes", "minutesInterval": 15 } ] } },
      "id": "cron_batch",
      "name": "15분마다: Batch 사이클",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 460]
    },
    {
      "parameters": { "command": "docker exec batch-runner python -m batch_runner enqueue || true" },
      "id": "batch_enqueue",
      "name": "batch enqueue",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [460, 380]
    },
    {
      "parameters": { "command": "docker exec batch-runner python -m batch_runner submit || true" },
      "id": "batch_submit",
      "name": "batch submit",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [680, 380]
    },
    {
      "parameters": { "command": "docker exec batch-runner python -m batch_runner poll || true" },
      "id": "batch_poll",
      "name": "batch poll",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [460, 540]
    },
    {
      "parameters": { "command": "docker exec batch-runner python -m batch_runner apply || true" },
      "id": "batch_apply",
      "name": "batch apply",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [680, 540]
    },

    {
      "parameters": { "rule": { "interval": [ { "field": "hours", "hoursInterval": 1 } ] } },
      "id": "cron_recover",
      "name": "매시간: 잠금 자동 복구",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 700]
    },
    {
      "parameters": { "command": "docker exec paper-postgres psql -U paperuser -d papers -c 'SELECT * FROM recover_stuck_staging(30);' 2>&1 || true" },
      "id": "do_recover",
      "name": "recover stuck staging",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [460, 700]
    },

    {
      "parameters": { "rule": { "interval": [ { "field": "cronExpression", "expression": "5 0 * * *" } ] } },
      "id": "cron_kst_reset",
      "name": "매일 0005 KST 리포트",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 880]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.INGEST_BASE_URL || 'http://localhost:8787'}}/api/status",
        "options": { "timeout": 30000 }
      },
      "id": "fetch_status",
      "name": "GET /api/status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 880]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json ?? {};\nconst phase = d.phaseState ?? {};\nconst papers = (d.papers ?? []).reduce((a, r) => { a[r.fulltext_status] = r.cnt; return a; }, {});\nconst report = {\n  date_kst: new Date().toLocaleDateString('ko-KR', { timeZone: 'Asia/Seoul' }),\n  phase1_completed: phase.phase1_completed ?? 'false',\n  phase1_total: Number(phase.phase1_total_collected ?? 0),\n  staged: papers,\n  cost_usd: Number((d.cost ?? {}).spent_usd ?? 0)\n};\nconsole.log('[daily-report]', JSON.stringify(report));\nreturn [{ json: report }];"
      },
      "id": "daily_report",
      "name": "일일 리포트 정리",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 880]
    }
  ],
  "connections": {
    "30분마다: Ingest 트리거": {
      "main": [[{ "node": "POST /ingest/run-phase", "type": "main", "index": 0 }]]
    },
    "POST /ingest/run-phase": {
      "main": [[{ "node": "Ingest 결과 로깅", "type": "main", "index": 0 }]]
    },
    "15분마다: Batch 사이클": {
      "main": [[
        { "node": "batch enqueue", "type": "main", "index": 0 },
        { "node": "batch poll",    "type": "main", "index": 0 }
      ]]
    },
    "batch enqueue": {
      "main": [[{ "node": "batch submit", "type": "main", "index": 0 }]]
    },
    "batch poll": {
      "main": [[{ "node": "batch apply", "type": "main", "index": 0 }]]
    },
    "매시간: 잠금 자동 복구": {
      "main": [[{ "node": "recover stuck staging", "type": "main", "index": 0 }]]
    },
    "매일 0005 KST 리포트": {
      "main": [[{ "node": "GET /api/status", "type": "main", "index": 0 }]]
    },
    "GET /api/status": {
      "main": [[{ "node": "일일 리포트 정리", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Seoul"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 4,
  "tags": ["paper-index", "v2"],
  "meta": {
    "doc": "v2 5-Layer pipeline:\n  1) ingest 트리거: 30분마다 /ingest/run-phase 호출 (Phase 1/2 자동 분기)\n  2) batch 트리거: 15분마다 batch-runner enqueue/submit/poll/apply 사이클\n  3) recover 트리거: 매시간 parsing/pdf_running 으로 30분+ 갇힌 행 복구\n  4) 일일 리포트: 00:05 KST /api/status 폴링 + 한 줄 요약"
  }
}
